<!DOCTYPE html>
<html>
<head>
	<title>Caminiti, Gastón</title>
	<!-- Add this to <head> -->
	<link type="text/css" rel="stylesheet" href="css/min/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="css/min/bootstrap-vue.min.css"/>
	<meta charset="utf-8">
</head>
<body>
<div id="app">
	<b-navbar toggleable="lg" type="dark" variant="dark">
		<b-col md="1" offset-md="11">
			<b-form-select v-model="$i18n.locale" :options="langs"></b-form-select>
		</b-col>
	</b-navbar>
	<b-container fluid>
		<b-row>
			<b-col md="6" offset-md="3">
							<b-row align-v="center">
								<b-col>
									<b-img src="img/site/avatar.png" alt="avatar image" fluid ></b-img>
								</b-col>
								<b-col class="text-center">
									<h2>Gastón Caminiti</h2>
									<h5>{{ $t("message.title") }}</h5>
								</b-col>

							</b-row>	
						</b-col>
						</b-col>
					
			</b-col>
		</b-row>
		<b-row class="text-center bg-dark">
			<b-col cols="4">
				<b-card bg-variant="light" border-variant="dark" align="center" class="mt-3 mb-3">
					<b-card-text>
						<b-row>
							<b-col  md="8" >
								<h6>{{ $t("message.title") }}</h6>
								<h6>{{ $t("message.title") }}</h6>
							</b-col>
							<b-col  md="4" >
								<b-img center src="img/site/chatora.png" alt="avatar image"  rounded width="105" height="65" ></b-img>
							</b-col>
						</b-row>
					</b-card-text>
				  </b-card>
				</b-card-group>
			</b-col>
			<b-col cols="4">
				<b-card bg-variant="light" border-variant="dark" align="center" class="mt-3 mb-3">
					<b-card-text>
						<b-row>
							<b-col  md="8" >
								<h6>{{ $t("message.title") }}</h6>
								<h6>{{ $t("message.title") }}</h6>
							</b-col>
							<b-col  md="4" >
								<b-img center src="img/site/unam.png" alt="avatar image"  rounded width="150" height="65" ></b-img>
							</b-col>
						</b-row>
					</b-card-text>
				  </b-card>
				</b-card-group>
			</b-col>
			<b-col cols="4">
				<b-card bg-variant="light" border-variant="dark" align="center" class="mt-3 mb-3">
					<b-card-text>
						<b-row>
							<b-col  md="8" >
								<h6>{{ $t("message.title") }}</h6>
								<h6>{{ $t("message.title") }}</h6>
							</b-col>
							<b-col  md="4" >
								<b-img center src="img/site/unl.png" alt="avatar image"  rounded width="65" height="65" ></b-img>
							</b-col>
						</b-row>
					</b-card-text>
				  </b-card>
				</b-card-group>
			</b-col>
		</b-row>
		<b-row>
			<b-col>
			<h1  class="mt-3 mb-3" >Portfolio</h1>
			<b-card-group columns>
				<b-card
				  overlay
				  img-src="https://placekitten.com/g/400/450"
				  img-alt="Image"
				  img-top
				  @mouseover="hover_card1  = true"
				  @mouseleave="hover_card1 = false">
				
				  <b-row v-if="hover_card1" class="text-center bg-light mt-0">
					<b-col >
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				   </b-col>
				   </b-row>
				</b-card>
			
				<b-card header="Quote">
				  <blockquote class="blockquote mb-0">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<footer class="blockquote-footer">
					  Someone famous in <cite title="Source Title">Source Title</cite>
					</footer>
				  </blockquote>
				</b-card>
			
				<b-card overlay title="Title" img-src="https://placekitten.com/500/350" img-alt="Image" img-top
				@mouseover="hover_card2  = true"
				  @mouseleave="hover_card2 = false"
				>
				 
				<b-row v-if="hover_card2" class="text-center bg-light mt-0">
					<b-col >
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				   </b-col>
				   </b-row>
				</b-card>
				</b-card>
			
				<b-card bg-variant="primary" text-variant="white">
				  <blockquote class="card-blockquote">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					<footer>
					  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
					</footer>
				  </blockquote>
				</b-card>
			
				<b-card>
				  <b-card-title>Title</b-card-title>
				  <b-card-text>
					This card has supporting text below as a natural lead-in to additional content.
				  </b-card-text>
				  <b-card-text class="small text-muted">Last updated 3 mins ago</b-card-text>
				</b-card>
			
				<b-card img-src="https://picsum.photos/400/400/?image=41" img-alt="Image" overlay></b-card>
			
				<b-card img-src="https://picsum.photos/400/200/?image=41" img-alt="Image" img-top>
				  <b-card-text>
					This is a wider card with supporting text below as a natural lead-in to additional content.
					This card has even longer content than the first.
				  </b-card-text>
				  <template v-slot:footer>
					<small class="text-muted">Footer Text</small>
				  </template>
				</b-card>
			  </b-card-group>
			</b-col>
		</b-row>
		<b-row class="text-center">
			<b-col xl="11" lg="11" md="12" sm="12" cols="12">
				<b-tabs content-class="mt-3" justified>
					<b-tab title="First" active><p>I'm the first tab</p></b-tab>
					<b-tab title="Second"><p>I'm the second tab</p></b-tab>
					<b-tab title="Very, very long title"><p>I'm the tab with the very, very long title</p></b-tab>
				</b-tabs>
			</b-col>
			<b-col xl="1" lg="1" md="12" sm="12" cols="12">
				<b-list-group class="d-flex justify-content-between align-items-center">
					<b-list-group-item>
						<b-img v-bind="mainProps" rounded="top" alt="Top-rounded image"></b-img>
					</b-list-group-item>
					<b-list-group-item>
						<b-img v-bind="mainProps" rounded="right" alt="Right-rounded image"></b-img>
					</b-list-group-item>
					<b-list-group-item>
						<b-img v-bind="mainProps" rounded="bottom" alt="Bottom-rounded image"></b-img>
					</b-list-group-item>
				</b-list-group>	
			</b-col>
		</b-row>
		<b-row class="text-center" align-h="start">
			<b-col cols="4">1 of 3</b-col>
			<b-col cols="4">Variable width content</b-col>
			<b-col cols="4">3 of 3</b-col>
		</b-row>
	</b-container>
</div>
<script src="js/min/jquery.min.js"></script>
<script src="js/min/bootstrap.bundle.min.js"></script>
<script src="js/min/vue.min.js"></script>
<script src="js/min/portal-vue.min.js"></script>
<script src="js/min/bootstrap-vue.min.js"></script>
<script src="js/vue-i18n.js"></script>
<script src="js/app.js"></script>
</body>
</html>
