<!DOCTYPE html>
<html>
<head>
	<title>Gastón Caminiti | Professor & Game Developer</title>
	<link rel="icon" type="image/png" href="icon.png">
	<!-- Add this to <head> -->
	<link type="text/css" rel="stylesheet" href="css/min/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="css/min/bootstrap-vue.min.css"/>
	<link type="text/css" rel="stylesheet" href="css/custom.css">
	<!-- Meta Tag -->
	<meta charset="utf-8">
	<meta name="description" content="Professional in education and design with experience in software development and video games. Face-to-face and distance teacher of computing, programming and learning strategies. Researcher in didactics and serious video games.">
	<meta name="keywords" content="Professor,Profesor,Game Designer,Game Developer, Portfolio, Chatora Games">
	<meta name="author" content="Gastón Caminiti">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Meta og -->
	<meta property="og:title" content="Gastón Caminiti - Professor & Game Developer">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://gastoncaminiti.github.io/">
	<meta property="og:image" content="https://gastoncaminiti.github.io/img/site/avatarog.png">
</head>
<body>
<div id="app">
	<div v-if="isLoading" class="text-center mt-5">
		<b-spinner style="width: 5rem; height: 5rem;" label="Large Spinner"></b-spinner>
	</div>
	<div v-else>
		<b-navbar toggleable="lg" type="dark" variant="dark">
			<b-col md="1" offset-md="11">
				<b-form-select v-model="$i18n.locale" :options="langs"></b-form-select>
			</b-col>
		</b-navbar>
		<b-container fluid>
			<b-row class="banner-color">
				<b-col xl="6" offset-xl="3" lg="6" offset-lg="3" md="12" sm="12" cols="12">
								<b-row align-v="center">
									<b-col  xl="4" lg="4" md="12" sm="12" cols="12">
										<b-img src="img/site/avatar.png" alt="avatar image" fluid ></b-img>
									</b-col>
									<b-col  xl="8" lg="8" md="12" sm="12" cols="12" class="text-center">
										<h2 class="text-dark"><em>Gastón Caminiti</em></h2>
										<h5 class="font-italic title-blue"><b>{{ $t("data.title") }}</b></h5>
										<b-row  align-h="center">
										<b-col  xl="8" lg="8" md="12" sm="12" cols="12">
											<b-link href="https://www.linkedin.com/in/gastoncaminiti"  target="_blank"><b-img  src="img/site/in.png" alt="avatar image"  rounded width="50" height="50" ></b-img></b-link>
											<b-link href="https://medium.com/@gastoncaminiti"  target="_blank"><b-img  src="img/site/md.png" alt="avatar image"  rounded width="50" height="50" ></b-img></b-link>
											<b-link href="https://gastoncaminiti.itch.io/"  target="_blank"><b-img  src="img/site/it.png" alt="avatar image"  rounded width="50" height="50" ></b-img></b-link>
										</b-row>
										</b-col>
									</b-col>

								</b-row>	
							</b-col>
							</b-col>
				</b-col>
			</b-row>
			<b-row class="text-center bg-dark">
				<b-col xl="4" lg="4" md="12" sm="12" cols="12">
					<b-card bg-variant="light" border-variant="dark" align="center" class="mt-3 mb-3">
						<b-card-text>
							<b-row>
								<b-col  md="8" >
									<h5 class="font-weight-light">{{ $t("data.header.card1.title") }}</h5> 
									<h6 ><b-link href="https://twitter.com/chatoragames"  target="_blank">{{ $t("data.header.card1.organization") }}</b-link></h6>
								</b-col>
								<b-col  md="4" >
									<b-img center src="img/site/chatora.png" alt="avatar image"  rounded width="105" height="65" ></b-img>
								</b-col>
							</b-row>
						</b-card-text>
					</b-card>
					</b-card-group>
				</b-col>
				<b-col xl="4" lg="4" md="12" sm="12" cols="12">
					<b-card bg-variant="light" border-variant="dark" align="center" class="mt-3 mb-3">
						<b-card-text>
							<b-row>
								<b-col  md="8" class="text-center">
									<h5 class="font-weight-light">{{ $t("data.header.card2.title") }}</h5>
									<h6><b-link href="https://www.fceqyn.unam.edu.ar/carreras/profesorado-universitario-en-computacion/"  target="_blank">{{ $t("data.header.card2.organization") }}</b-link></h6>
								</b-col>
								<b-col  md="4" >
									<b-img center src="img/site/unam.png" alt="avatar image"  rounded width="150" height="65" ></b-img>
								</b-col>
							</b-row>
						</b-card-text>
					</b-card>
					</b-card-group>
				</b-col>
				<b-col xl="4" lg="4" md="12" sm="12" cols="12">
					<b-card bg-variant="light" border-variant="dark" align="center" class="mt-3 mb-3">
						<b-card-text>
							<b-row>
								<b-col  md="8" >
									<h5 class="font-weight-light">{{ $t("data.header.card3.title") }}</h5 > 
									<h6><b-link href="http://www.unlvirtual.edu.ar/?portfolio=diseno-y-programacion-de-videojuegos"  target="_blank">{{ $t("data.header.card3.organization") }}</b-link></h6>
								</b-col>
								<b-col  md="4" >
									<b-img center src="img/site/unl.png" alt="avatar image"  rounded width="65" height="65" ></b-img>
								</b-col>
							</b-row>
						</b-card-text>
					</b-card>
					</b-card-group>
				</b-col>
			</b-row>
			<b-row>
				<b-col>
				<h2  class="mt-3 mb-3 text-dark font-weight-light text-left"><b-icon-controller variant="dark"></b-icon-controller> Portfolio</h2>
				<b-card-group columns>
					<!--PRIMERA COLUMNA-->
					<!--CARD 1-->
					<b-card
					overlay
					img-src="img/site/portfolio/card1.png"
					img-alt="Image"
					img-top
					@mouseover="show_card(0)"
					@mouseleave="hide_card(0)">
					<b-row v-show="fcards[0]" class="opacity-background mt-0">
						<b-col class="mt-2">
							<h4 class="text-warning">{{ $t("data.portfolio.card1.title") }}</h4>
							<h6 class="text-light text-center mb-3"> {{ $t("data.portfolio.card1.description") }}</h6>
							<div>
								<h6><b-badge variant="light">GODOT ENGINE</b-badge>
								<b-badge variant="light">GDSCRIPT</b-badge> <b-badge variant="light">STRATEGY</b-badge> <b-badge variant="light">CARD GAME</b-badge></h6>
							</div>
							<hr class="my-2">
							<p class="text-center"><a class="btn btn-outline-warning" href="https://gastoncaminiti.itch.io/verdandi" role="button" target="_blank">  <b-icon-download variant="warning"></b-icon-download> {{ $t("data.interface.download") }}</a></p>
					</b-col>
					</b-row>
					</b-card>
					<!--CARD 4-->
					<b-card
					overlay
					img-src="img/site/portfolio/card4.png"
					img-alt="Image"
					img-top
					@mouseover="show_card(3)"
					@mouseleave="hide_card(3)">
					<b-row v-if="fcards[3]" class="opacity-background mt-0">
						<b-col class="mt-2">
							<h4 class="text-warning">{{ $t("data.portfolio.card4.title") }}</h4>
							<h6 class="text-light text-center mb-3"> {{ $t("data.portfolio.card4.description") }}</h6>
							<div>
								<h6><b-badge variant="light">HAXEFLIXEL</b-badge>
								<b-badge variant="light">HAXE</b-badge> <b-badge variant="light">2D PLATFORM</b-badge> <b-badge variant="light">PUZZLE</b-badge></h6>
							</div>
							<hr class="my-2">
							<p class="text-center"><a class="btn btn-outline-warning" href="https://gastoncaminiti.itch.io/rabbuble" role="button" target="_blank"> <b-icon-download variant="warning"></b-icon-download> {{ $t("data.interface.download") }}</a></p>
					</b-col>
					</b-row>
					</b-card>
					<!--CARD 7-->
					<b-card
					overlay
					img-src="img/site/portfolio/card7.png"
					img-alt="Image"
					img-top
					@mouseover="show_card(6)"
					@mouseleave="hide_card(6)">
					<b-row v-if="fcards[6]" class="opacity-background mt-0">
						<b-col class="mt-2">
							<h4 class="text-warning">{{ $t("data.portfolio.card7.title") }}</h4>
							<h6 class="text-light text-center mb-3"> {{ $t("data.portfolio.card7.description") }}</h6>
							<div>
								<h6><b-badge variant="light">SFML</b-badge>
								<b-badge variant="light">C++</b-badge> <b-badge variant="light">ARCADE</b-badge> <b-badge variant="light">ACTION</b-badge></h6>
							</div>
							<hr class="my-2">
							<p class="text-center"><a class="btn btn-outline-warning" href="project/TotalTank.rar" role="button"> <b-icon-download variant="warning"></b-icon-download> {{ $t("data.interface.download") }}</a></p>
					</b-col>
					</b-row>
					</b-card>
					<!--SEGUNDA COLUMNA-->
					<!--CARD 2-->
					<b-card
					overlay
					img-src="img/site/portfolio/card2.png"
					img-alt="Image"
					img-top
					@mouseover="show_card(1)"
					@mouseleave="hide_card(1)">
					<b-row v-if="fcards[1]" class="opacity-background mt-0">
						<b-col class="mt-2">
							<h4 class="text-warning">{{ $t("data.portfolio.card2.title") }}</h4>
							<h6 class="text-light text-center mb-3"> {{ $t("data.portfolio.card2.description") }}</h6>
							<div>
								<h6><b-badge variant="light">GODOT ENGINE</b-badge>
									<b-badge variant="light">GDSCRIPT</b-badge> <b-badge variant="light">2D PLATFORM</b-badge> <b-badge variant="light">PUZZLE</b-badge></h6>
							</div>
							<hr class="my-2">
							<p class="text-center"><a class="btn btn-outline-warning" href="https://github.com/gastoncaminiti/ZamnaAtlante" role="button" target="_blank"> <b-icon-download variant="warning"></b-icon-download> {{ $t("data.interface.download") }}</a></p>
					</b-col>
					</b-row>
					</b-card>
					<!--CARD 5-->
					<b-card
					overlay
					img-src="img/site/portfolio/card5.png"
					img-alt="Image"
					img-top
					@mouseover="show_card(4)"
					@mouseleave="hide_card(4)">
					<b-row v-if="fcards[4]" class="opacity-background mt-0">
						<b-col class="mt-2">
							<h4 class="text-warning">{{ $t("data.portfolio.card5.title") }}</h4>
							<h6 class="text-light text-center mb-3"> {{ $t("data.portfolio.card5.description") }}</h6>
							<div>
								<h6><b-badge variant="light">UNITY</b-badge>
								<b-badge variant="light">C#</b-badge> <b-badge variant="light">3D</b-badge> <b-badge variant="light">ACTION</b-badge></h6>
							</div>
							<hr class="my-2">
							<p class="text-center"><a class="btn btn-outline-warning" href="https://drive.google.com/open?id=1_3Xu6Q4dkoKPx-DFQNM2uk3oAbfurgRu" role="button"> <b-icon-download variant="warning"></b-icon-download> {{ $t("data.interface.download") }}</a></p>
					</b-col>
					</b-row>
					</b-card>
					<!--CARD 8-->
					<b-card
					overlay
					img-src="img/site/portfolio/card8.png"
					img-alt="Image"
					img-top
					@mouseover="show_card(7)"
					@mouseleave="hide_card(7)">
					<b-row v-if="fcards[7]" class="opacity-background mt-0">
						<b-col class="mt-2">
							<h4 class="text-warning">{{ $t("data.portfolio.card8.title") }}</h4>
							<h6 class="text-light text-center mb-3"> {{ $t("data.portfolio.card8.description") }}</h6>
							<div>
								<h6><b-badge variant="light">SFML</b-badge>
								<b-badge variant="light">C++</b-badge> <b-badge variant="light">SHOOTER</b-badge> <b-badge variant="light">ACTION</b-badge></h6>
							</div>
							<hr class="my-2">
							<p class="text-center"><a class="btn btn-outline-warning" href="https://github.com/gastoncaminiti/Disparos" role="button" target="_blank"> <b-icon-download variant="warning"></b-icon-download> {{ $t("data.interface.download") }}</a></p>
					</b-col>
					</b-row>
					</b-card>
					<!--TERCERA COLUMNA-->
					<!--CARD 3-->
					<b-card
					overlay
					img-src="img/site/portfolio/card3.png"
					img-alt="Image"
					img-top
					@mouseover="show_card(2)"
					@mouseleave="hide_card(2)">
					<b-row v-if="fcards[2]" class="opacity-background mt-0">
						<b-col class="mt-2">
							<h4 class="text-warning">{{ $t("data.portfolio.card3.title") }}</h4>
							<h6 class="text-light text-center mb-3"> {{ $t("data.portfolio.card3.description") }}</h6>
							<div>
								<h6><b-badge variant="light">FLASHPUNK</b-badge>
									<b-badge variant="light">AS3</b-badge> <b-badge variant="light">2D PLATFORM</b-badge> <b-badge variant="light">ACTION</b-badge></h6>
							</div>
							<hr class="my-2">
							<p class="text-center"><a class="btn btn-outline-warning" href="https://www.kongregate.com/games/gastoncaminiti/sunset-revenge" role="button" target="_blank"> <b-icon-download variant="warning"></b-icon-download> {{ $t("data.interface.download") }}</a></p>
					</b-col>
					</b-row>
					</b-card>
					<!--CARD 6-->
					<b-card
					overlay
					img-src="img/site/portfolio/card6.png"
					img-alt="Image"
					img-top
					@mouseover="show_card(5)"
					@mouseleave="hide_card(5)">
					<b-row v-if="fcards[5]" class="opacity-background mt-0">
						<b-col class="mt-2">
							<h4 class="text-warning">{{ $t("data.portfolio.card6.title") }}</h4>
							<h6 class="text-light text-center mb-3"> {{ $t("data.portfolio.card6.description") }}</h6>
							<div>
								<h6><b-badge variant="light">SFML</b-badge>
								<b-badge variant="light">C++</b-badge> <b-badge variant="light">EDUCATION</b-badge> <b-badge variant="light">PUZZLE</b-badge></h6>
							</div>
							<hr class="my-2">
							<p class="text-center"><a class="btn btn-outline-warning" href="project/Sumtrain.rar" role="button"> <b-icon-download variant="warning"></b-icon-download> {{ $t("data.interface.download") }}</a></p>
					</b-col>
					</b-row>
					</b-card>
					<!--CARD 9-->
					<b-card
					overlay
					img-src="img/site/portfolio/card9.png"
					img-alt="Image"
					img-top
					@mouseover="show_card(8)"
					@mouseleave="hide_card(8)">
					<b-row v-if="fcards[8]" class="opacity-background mt-0">
						<b-col class="mt-2">
							<h4 class="text-warning">{{ $t("data.portfolio.card9.title") }}</h4>
							<h6 class="text-light text-center mb-3"> {{ $t("data.portfolio.card9.description") }}</h6>
							<div>
								<h6><b-badge variant="light">LARAVEl</b-badge>
								<b-badge variant="light">PHP</b-badge> <b-badge variant="light">VUE2</b-badge> <b-badge variant="light">BOOTSTRAP4</b-badge></h6>
							</div>
							<hr class="my-2">
							<p class="text-center"><a class="btn btn-outline-warning" href="http://becas.fceqyn.unam.edu.ar/" role="button" target="_blank"> <b-icon-eye variant="warning"></b-icon-eye> {{ $t("data.interface.show") }}</a></p>
					</b-col>
					</b-row>
					</b-card>
				</b-card-group>
				</b-col>
			</b-row>
			<b-row class="text-center">
				<b-col xl="12" lg="12" md="12" sm="12" cols="12" >
					<b-card no-body>
						<b-tabs pills card vertical>
							<!--WORK TAB-->
							<b-tab active>
								<template v-slot:title>
									<h4 class="text-dark font-weight-light text-left"> <b-icon-code-slash variant="secondary"></b-icon-code-slash> {{ $t("data.work.title") }}</h4>
								</template>
								<ul class="list-unstyled text-left">
									<b-media tag="li">
									<template v-slot:aside>
										<b-img src="img/site/mb.png" width="64" alt="placeholder"></b-img>
									</template>
									<h5 class="mt-0 mb-1">{{ $t("data.work.experience1.title") }}</h5>
									<h5 class="blockquote-footer">{{ $t("data.work.experience1.date") }}</h5>
									<p class="mb-0">
										{{ $t("data.work.experience1.description") }}
									</p>
									</b-media>
								
									<b-media tag="li" class="my-4">
									<template v-slot:aside>
										<b-img src="img/site/umrect.png" width="64" alt="placeholder"></b-img>
									</template>
									<h5 class="mt-0 mb-1">{{ $t("data.work.experience2.title") }}</h5>
									<h5 class="blockquote-footer">{{ $t("data.work.experience2.date") }}</h5>
									<p class="mb-0">
										{{ $t("data.work.experience2.description") }}
									</p>
									</b-media>
								
									<b-media tag="li">
									<template v-slot:aside>
										<b-img src="img/site/devmg.jpeg" width="64" alt="placeholder"></b-img>
									</template>
									<h5 class="mt-0 mb-1">{{ $t("data.work.experience3.title") }}</h5>
									<h5 class="blockquote-footer">{{ $t("data.work.experience3.date") }}</h5>
									<p class="mb-0">
										{{ $t("data.work.experience3.description") }}
									</p>
									</b-media>
									
									<b-media tag="li" class="my-4">
										<template v-slot:aside>
										<b-img src="img/site/umrect.png" width="64" alt="placeholder"></b-img>
										</template>
										<h5 class="mt-0 mb-1">{{ $t("data.work.experience4.title") }}</h5>
										<h5 class="blockquote-footer">{{ $t("data.work.experience4.date") }}</h5>
										<p class="mb-0">
											{{ $t("data.work.experience4.description") }}
										</p>
									</b-media>
									<b-media tag="li" class="my-4">
										<template v-slot:aside>
										<b-img src="img/site/umrect.png" width="64" alt="placeholder"></b-img>
										</template>
										<h5 class="mt-0 mb-1">{{ $t("data.work.experience5.title") }}</h5>
										<h5 class="blockquote-footer">{{ $t("data.work.experience5.date") }}</h5>
										<p class="mb-0">
											{{ $t("data.work.experience5.description") }}
										</p>
									</b-media>
								</ul>
							</b-tab>
							<!--CONFERENCE TAB-->
							<b-tab>
								<template v-slot:title>
									<h4 class="text-dark font-weight-light text-left"> <b-icon-mic variant="secondary"></b-icon-mic> {{ $t("data.conferences.title") }}</h4>
								</template>
								<ul class="list-unstyled text-left">
									<b-media tag="li" class="my-4">
										<template v-slot:aside>
											<b-img src="img/site/fcyt.png" width="64" alt="placeholder"></b-img>
										</template>
										<h5 class="mt-0 mb-1">{{ $t("data.conferences.experience7.title") }}</h5>
										<h5 class="blockquote-footer">{{ $t("data.conferences.experience7.date") }}</h5>
									</b-media>
									<b-media tag="li" class="my-4">
									<template v-slot:aside>
										<b-img src="img/site/godot.png" width="64" alt="placeholder"></b-img>
									</template>
									<h5 class="mt-0 mb-1">{{ $t("data.conferences.experience1.title") }}</h5>
									<h5 class="blockquote-footer">{{ $t("data.conferences.experience1.date") }}</h5>
									</b-media>

									<b-media tag="li" class="my-4">
									<template v-slot:aside>
										<b-img src="img/site/godot.png" width="64" alt="placeholder"></b-img>
									</template>
									<h5 class="mt-0 mb-1">{{ $t("data.conferences.experience2.title") }}</h5>
									<h5 class="blockquote-footer">{{ $t("data.conferences.experience2.date") }}</h5>
									</b-media>
								
									<b-media tag="li" class="my-4">
									<template v-slot:aside>
										<b-img src="img/site/mda.png" width="64" alt="placeholder"></b-img>
									</template>
									<h5 class="mt-0 mb-1">{{ $t("data.conferences.experience3.title") }}</h5>
									<h5 class="blockquote-footer">{{ $t("data.conferences.experience3.date") }}</h5>
									</b-media>
								
									<b-media tag="li">
									<template v-slot:aside>
										<b-img src="img/site/construct.png" width="64" alt="placeholder"></b-img>
									</template>
									<h5 class="mt-0 mb-1">{{ $t("data.conferences.experience4.title") }}</h5>
									<h5 class="blockquote-footer">{{ $t("data.conferences.experience4.date") }}</h5>
									</b-media>
									
									<b-media tag="li" class="my-4">
										<template v-slot:aside>
										<b-img src="img/site/w10.png" width="64" alt="placeholder"></b-img>
										</template>
										<h5 class="mt-0 mb-1">{{ $t("data.conferences.experience5.title") }}</h5>
										<h5 class="blockquote-footer">{{ $t("data.conferences.experience5.date") }}</h5>
									</b-media>
									<b-media tag="li" class="my-4">
										<template v-slot:aside>
										<b-img src="img/site/construct.png"  width="64" alt="placeholder"></b-img>
										</template>
										<h5 class="mt-0 mb-1">{{ $t("data.conferences.experience6.title") }}</h5>
										<h5 class="blockquote-footer">{{ $t("data.conferences.experience5.date") }}</h5>
									</b-media>
								</ul>
							</b-tab>
							<!--VOLUNTEER TAB-->
							<b-tab>
								<template v-slot:title>
									<h4 class="text-dark font-weight-light text-left"> <b-icon-people-fill variant="secondary"></b-icon-people-fill> {{ $t("data.volunteer.title") }}</h4>
								</template>
								<ul class="list-unstyled text-left">
									<b-media tag="li">
									<template v-slot:aside>
										<b-img src="img/site/gtc.png" width="64" alt="placeholder"></b-img>
									</template>
									<h5 class="mt-0 mb-1">{{ $t("data.volunteer.experience1.title") }}</h5>
									<h5 class="blockquote-footer">{{ $t("data.volunteer.experience1.date") }}</h5>
									<p class="mb-0">
										{{ $t("data.volunteer.experience1.description") }}
									</p>
									</b-media>
								
									<b-media tag="li" class="my-4">
									<template v-slot:aside>
										<b-img src="img/site/umrect.png" width="64" alt="placeholder"></b-img>
									</template>
									<h5 class="mt-0 mb-1">{{ $t("data.volunteer.experience2.title") }}</h5>
									<h5 class="blockquote-footer">{{ $t("data.volunteer.experience2.date") }}</h5>
									<p class="mb-0">
										{{ $t("data.volunteer.experience2.description") }}
									</p>
									</b-media>
								
									<b-media tag="li">
									<template v-slot:aside>
										<b-img src="img/site/msp.png" width="64" alt="placeholder"></b-img>
									</template>
									<h5 class="mt-0 mb-1">{{ $t("data.volunteer.experience3.title") }}</h5>
									<h5 class="blockquote-footer">{{ $t("data.volunteer.experience3.date") }}</h5>
									<p class="mb-0">
										{{ $t("data.volunteer.experience3.description") }}
									</p>
									</b-media>
									
									<b-media tag="li" class="my-4">
										<template v-slot:aside>
										<b-img src="img/site/joinea.png" width="64" alt="placeholder"></b-img>
										</template>
										<h5 class="mt-0 mb-1">{{ $t("data.volunteer.experience4.title") }}</h5>
										<h5 class="blockquote-footer">{{ $t("data.volunteer.experience4.date") }}</h5>
										<p class="mb-0">
											{{ $t("data.volunteer.experience4.description") }}
										</p>
									</b-media>
								</ul>
							</b-tab>
							<!--VIDEO TAB-->
							<b-tab>
								<b-card-group deck>
								<b-card>
									<b-embed
									type="iframe"
									aspect="16by9"
									src="https://www.youtube.com/embed/9BvrOxTXyh0"
									allowfullscreen
								  ></b-embed>
									<b-card-text class="font-italic">
										{{ $t("data.video.experience7.title") }}
									</b-card-text>
								</b-card>
								<b-card>
									<b-embed
									type="iframe"
									aspect="16by9"
									src="https://www.youtube.com/embed/lgevlk0RhUY"
									allowfullscreen
								  ></b-embed>
									<b-card-text class="font-italic">
										{{ $t("data.video.experience1.title") }}
									</b-card-text>
								</b-card>
								<b-card>
									<b-embed
									type="iframe"
									aspect="16by9"
									src="https://www.youtube.com/embed/T0erbxrHQdk"
									allowfullscreen
								  ></b-embed>
									<b-card-text class="font-italic">
										{{ $t("data.video.experience2.title") }}
									</b-card-text>
								</b-card>
								</b-card-group>
								<hr>
								<b-card-group deck>
									<b-card>
										<b-embed
										type="iframe"
										aspect="16by9"
										src="https://www.youtube.com/embed/55JI39RriJE"
										allowfullscreen
									  ></b-embed>
										<b-card-text class="font-italic">
											{{ $t("data.video.experience3.title") }}
										</b-card-text>
									</b-card>
									<b-card>
										<b-embed
										type="iframe"
										aspect="16by9"
										src="https://www.youtube.com/embed/TyjVDv-VqGE"
										allowfullscreen
									  ></b-embed>
										<b-card-text class="font-italic">
											{{ $t("data.video.experience4.title") }}
										</b-card-text>
									</b-card>
									<b-card>
										<b-embed
										type="iframe"
										aspect="16by9"
										src="https://www.youtube.com/embed/nUJAEF7BDnw"
										allowfullscreen
									  ></b-embed>
										<b-card-text class="font-italic">
											{{ $t("data.video.experience5.title") }}
										</b-card-text>
									</b-card>
								</b-card-group>
								<hr>
								<!--
								<b-card-group deck>
									<b-card>
										<b-embed
										type="iframe"
										aspect="16by9"
										src="https://www.youtube.com/embed/IA9vlAKuLXk"
										allowfullscreen
									  ></b-embed>
										<b-card-text class="font-italic">
											{{ $t("data.video.experience6.title") }}
										</b-card-text>
									</b-card>
								</b-card-group>
								-->
								<template v-slot:title>
									<h4 class="text-dark font-weight-light text-left"> <b-icon-play variant="secondary"></b-icon-play> {{ $t("data.video.title") }}</h4>
								</template>
							</b-tab>
						</b-tabs>
					</b-card>
				</b-col>
			</b-row>
			<b-row class="text-center bg-dark text-light" align-h="start">
				<b-col xl="12" lg="12" md="12" sm="12" cols="12">
						<p class="font-weight-light mt-2">Feel free to use my code for reference.
						<br>Follow me in <b-link href="https://medium.com/@gastoncaminiti"  target="_blank">Medium</b-link> or <b-link href="https://www.linkedin.com/in/gastoncaminiti"  target="_blank">Linkedin</b-link>.
						<br>© 2020 — Web app designed and coded by Caminiti G. using BootstrapVue. Check it in <b-link href="https://github.com/gastoncaminiti/gastoncaminiti.github.io"  target="_blank">GitHub</b-link>
						</p>
				</b-col>
			</b-row>
		</b-container>
	</div>
</div>
<script src="js/min/jquery.min.js"></script>
<script src="js/min/bootstrap.bundle.min.js"></script>
<script src="js/min/vue.min.js"></script>
<script src="js/min/portal-vue.min.js"></script>
<script src="js/min/bootstrap-vue.min.js"></script>
<script src="js/min/bootstrap-vue-icons.min.js"></script>
<script src="js/vue-i18n.js"></script>
<script src="js/app.js"></script>
</body>
</html>
